body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  margin: 50px auto 0 auto;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 7.8125rem;
  color: #40514e;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.25rem;
  margin: 50px;
  color: #11999e;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
}

a{
  color: #30e3ca;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #11999e;
}

hr{
    border: dotted #30e3ca 7px;
    border-bottom: none;
    width: 3%;
    margin: 100px auto;
}

p{
    line-height: 2;
}


/* . . . Classes . . . */

.top_container{
  background-color: #30e3ca;
  position: relative;
  padding: 100px;
}

.middle_container{
  margin: 100px 0;
}

.bottom_container{
  background-color: #40514e;
  padding: 50px 0 20px;
}

.title{
  color: #40514e;
  margin: 0 auto 50px auto;
}

.intro{
  width: 30%;
  margin: auto;
}

.contact-m3{
  background-color: #40514e;
  position: relative;
  padding: 100px;
}

.top_cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom_cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.mountain{
  position: relative;
  bottom: -104px;
}

.picture{
  width: 273px;
  height: 273px;
  margin-top: 150px;
}

.skill-row{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
}

.programming_gif{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.laptop_gif{
  width: 25%;
  float: right;
  margin-left: 30px;
  margin-top: 5px;
}

.copyright{
  color: #30e3ca;
  font-size: 0.75rem;
}
